<template>
  <div class="textbox-custom">
    <p v-if="!hasOptions">
      {{ text }}
    </p>
    <p v-if="hasOptions">
      {{ textBegin }}
      <select class="input is-small" @change="onChange($event)">
        <option
          v-for="(option, index) of options"
          :key="`option--${index}`"
          :value="option.value"
          :selected="option.value === selectedValue"
        >
          {{ option.label }}
        </option>
      </select>
      {{ textEnd }}
    </p>
  </div>
</template>

<script setup lang="ts">
import type { PropType } from 'vue';
import { PipeOptions } from '~/models/gitlab-ci';

const props = defineProps({
  text: { type: String, default: '' },
  selectedValue: { type: String, default: '' },
  options: { type: Object as PropType<PipeOptions>, default: () => {} },
});

const emit = defineEmits(['change']);

function onChange(event: Event) {
  emit('change', (event.target as HTMLInputElement).value);
}

const hasOptions = props.options && props.options.length;

let textBegin;
let textEnd;
if (hasOptions) {
  textBegin = props.text.split('#options')[0];
  textEnd = props.text.split('#options')[1];
}
</script>

<style scoped lang="scss">
.input.is-small {
  width: auto;
}
.textbox-custom {
  display: flex;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
