<template>
  <main>
    <TitleLogo>Docker</TitleLogo>
    <div class="columns small-gap">
      <section class="column">
        <h2 class="title">Interactive configuration</h2>

        <p class="block">In this part, please see interactive & configurable examples.</p>
        <div class="columns small-gap">
          <Tab
            class="column is-one-quarter"
            :tabs="children"
            :selected-tabs="selectedTabs"
            @update-tab="updateTab"
          />
          <NuxtPage />
        </div>
      </section>
    </div>
  </main>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import Tab from '~/components/form/Tab.vue';
import TitleLogo from '~/components/header/TitleLogo.vue';

const route = useRoute();
const children = [
  {
    title: 'Nuxt 2',
    name: 'generator-docker-nuxt2',
  },
  {
    title: 'Nuxt 3',
    name: 'generator-docker-nuxt3',
  },
];
const selectedTabs = ref([route.name]);

const updateTab = (_: { target: HTMLInputElement }, name: string) => {
  selectedTabs.value = [name];
  navigateTo({ name });
};
</script>

<style lang="scss">
.columns:first-of-type.small-gap {
  gap: 5px;
}

.column {
  padding: 0;
}
</style>
