<template>
  <div :class="wrapperClass">
    <h2 v-if="hasTitle" class="title">Actions to do</h2>
    <p v-if="!areTitlesSet && !areFrameworkSet">🤔 First of all, we need some information…</p>
    <div v-else>
      <ol>
        <slot />
      </ol>
      <PrismCode :language="prismLanguage" :content="content" />
    </div>
  </div>
</template>

<script setup lang="ts">
import PrismCode from '~/components/PrismCode.vue';
const props = defineProps({
  projectName: { type: String, default: '' },
  repositoryName: { type: String, default: '' },
  framework: { type: [String, Boolean], default: '' },
  hasTitle: {
    type: Boolean,
    default: true,
  },
  content: {
    type: String,
    required: true,
  },
  wrapperClass: {
    type: String,
    default: 'column content',
  },
  prismLanguage: {
    type: String,
    required: true,
  },
});

const areTitlesSet = computed(() => props.projectName && props.repositoryName);
const areFrameworkSet = computed(() => props.framework);
</script>

<style scoped>
.title {
  font-weight: bolder;
  color: #009fe3;
}
</style>
