<template>
  <div>
    <section class="section section-one has-text-centered columns">
      <div class="column">
        <img class="blue6" src="/icons-header_igloo.svg" alt="header icon" />
      </div>
      <div class="column is-half">
        <img src="/illu-white.svg" width="328" height="211" alt="white illustration" />
        <p class="is-clipped is-size-4 has-text-white has-text-weight-bold">
          Vigigloo is a suit of terraform modules, helm charts, gitlab pipeline fragments, ...
          Everything is opensource, and aim to have an easier integration in gitops stack.
        </p>
      </div>
      <div class="column">
        <img class="blue1" src="/icons-header_igloo.svg" alt="header icon" />
      </div>
    </section>
    <section class="section section-two">
      <div class="columns">
        <div class="column">
          <h4 class="title is-size-4">
            We're stronger together !
            <img src="/icons-header_igloo.svg" alt="header icon" />
          </h4>
          <p>
            First, we've made a gitops stack for an organization, then we've duplicated this stack
            for another one, then for another one... Then we've flipped the table and said "Let's
            share modules and code to reduce duplications, maintenance, and invest this gain on
            strongness."
          </p>
        </div>
        <div class="column">
          <img src="/illustration_igloo.svg" width="720" height="310" alt="igloo illustration" />
        </div>
      </div>
    </section>
    <section class="section section-three has-background-blue5 has-text-blue2">
      <div class="columns">
        <div class="column">
          <h4 class="title pb-3">Terraform</h4>
          <p>
            Terraform modules are used to refactor common parts/behaviors between similar stacks.
          </p>
        </div>
        <div class="column">
          <h4 class="title pb-3">Pipeline fragments</h4>
          <p>
            Gitlab comes with some auto devops features. We're delivering some similar scripts to
            include extendable & configurable pipeline parts.
          </p>
        </div>
        <div class="column">
          <h4 class="title pb-3">Helm charts</h4>
          <p>
            We're using helm charts to package software deployment and have default/common
            behaviors, and easier deployments.
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script></script>

<style scoped lang="scss">
.section {
  &.section-one {
    background: transparent linear-gradient(90deg, $blue-1 15%, $blue-4 100%) 0 0 no-repeat
      padding-box;
    .columns:nth-child(2) {
      width: 927px;
    }
    img {
      height: 15rem;
      &.blue6 {
        filter: invert(51%) sepia(57%) saturate(2703%) hue-rotate(160deg) brightness(99%)
          contrast(101%);
        opacity: 0.1;
      }
      &.blue1 {
        filter: invert(82%) sepia(51%) saturate(3723%) hue-rotate(129deg) brightness(100%)
          contrast(106%);
        opacity: 0.1;
      }
    }
  }
  &.section-two {
    padding: 73px 261px;
    font: normal normal normal 18px/25px;
    letter-spacing: 0;
    .title img {
      height: 1.5rem;
      fill: $blue-1;
      transform: rotate(-90deg);
      filter: invert(82%) sepia(51%) saturate(3723%) hue-rotate(129deg) brightness(100%)
        contrast(106%);
    }
  }
  &.section-three {
    padding: 73px 261px;
    margin-bottom: 110px;
  }
}
.has-background-blue5 {
  border: solid $blue-1;
  border-width: 2px 0;
}
</style>
