<script setup lang="ts">
const props = defineProps({
  href: {
    type: String,
    default: '',
  },
  blank: {
    type: Boolean,
    default: false,
  },
});

let hrefCleaned = props.href.replace('.md', '');

const { path } = useRoute();
const pathWithoutFileName =
  path.lastIndexOf('/') > 0 ? path.substring(0, path.lastIndexOf('/')) + '/' : path + '/';
const fileName = hrefCleaned.split('/').pop();

hrefCleaned =
  hrefCleaned.startsWith('/documentation/') || hrefCleaned.startsWith('http')
    ? hrefCleaned
    : pathWithoutFileName + fileName;
</script>

<template>
  <NuxtLink :href="hrefCleaned">
    <slot />
  </NuxtLink>
</template>
